<div *ngIf="detailBand.name">
  <h1 class="mt-4">{{ detailBand?.name }}</h1>
  <div class="container mx-auto">
    <div class="d-flex justify-content-between align-items-center m-1">
      <div class="btn-group">
        <a
          target="_blank"
          rel="external nofollow"
          href="{{ detailBand?.videoLink }}"
        >
          <button type="button" class="btn btn-danger">Rock Now!</button>
        </a>
      </div>
      <small class="text-muted">Formed in: {{ detailBand?.formedIn }}</small>
    </div>

    <hr>

    <img
      src="{{ detailBand?.imgLink }}"
      focusable="false"
    />

    <hr>

    <p>Status: 
      <span *ngIf="detailBand.active" style="color:green;"> Active</span>
      <span *ngIf="!detailBand.active" style="color:red;"> Inactive</span>
    </p>
    <p class="ml-4 mr-4">
      {{ detailBand?.description }}
    </p>
  </div>
</div>
