img{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    font-size: xxx-large;
    text-align: center;
    text-shadow: 0 10px 20px rgba(255, 7, 58, 0.15),
      0 4px 8px rgba(128, 29, 25, 0.36);
  }
  
  p {
    text-align: center;
    font-style: italic;
  }

@media screen and (max-width: 600px){
  img{
    width: 100%;
  }
}