<div class="mt-5"></div>
<h1>{{ detailBand.name }}</h1>
<div>
  <div class="d-flex justify-content-between align-items-center m-1">
    <div class="btn-group">
      <a
        target="_blank"
        rel="external nofollow"
        href="{{ detailBand.videoLink }}"
      >
        <button type="button" class="btn btn-outline-danger">
          Play
        </button>
      </a>
    </div>
    <small class="text-muted">Formed in: {{ detailBand.formedIn }}</small>
  </div>

  <img
    src="{{ detailBand.imgLink }}"
    width="100%"
    height="auto"
    focusable="false"
  />
</div>
