table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:nth-child(even) {
  background: rgba($color: #9b9c9b60, $alpha: 0.1);
}

.mat-row:hover{
  background: rgba($color: #0fd60f, $alpha: 0.2);
  cursor: pointer;
}

.close-button{
  background: transparent;
  border:none;
}