<div class="m-4">
  <button type="button" class="btn btn-sm btn-success m-1" (click)="onAdd()">
    Add More!
  </button>

  <button type="button" class="btn btn-sm btn-info m-1" (click)="onReset()">
    Reset Data
  </button>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>

  <div *ngIf="bandsData" class="container">
    <div class="row mt-3">
      <div class="col-md-4 card-appears-effect" *ngFor="let band of bandsData">
        <div class="card mb-4 card-hover-efect">
          <div class="card bg-dark border-dark text-white">
            <img
              src="{{ band.imgLink }}"
              width="100%"
              height="auto"
              focusable="false"
            />
            <div class="card-img-overlay" (click)="navigateToDetails(band)" style="cursor: pointer;">
              <h5 class="card-title">{{ band.name }}</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  target="_blank"
                  rel="external nofollow"
                  (click)="removeAt(band)"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger mr-1"
                  >
                    Delete
                  </button>
                </a>
                <a
                  target="_blank"
                  rel="external nofollow"
                  (click)="navigateToDetails(band)"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-success mr-1"
                  >
                    Details
                  </button>
                </a>
              </div>
              <small class="text-muted">{{ band.formedIn }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
