.mat-form-field {
  font-size: 20px;
  width: 100%;
}

a.button {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 600px) {
  .card-hover-efect {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  }

  .card-hover-efect:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 7, 58, 0.15),
      0 4px 8px rgba(128, 29, 25, 0.36);
  }
}
